@font-face {
  font-family: myfonts;
  src: url(Fonts\Poppins-Medium.ttf);
}
*{
  font-family: Poppins;
  scroll-behavior: smooth;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-profile {
  background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 100%)), url(d:/All-Codes/Portfolio/images/man.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 2rem;
  filter: drop-shadow(2px 4px 6px black);
}
.top-profile nav{
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px 4rem 0;
  text-transform: uppercase;
  font-weight: 600;
}
.tab-nav{
  position: absolute;
  top: 0;
  right: 0;
  margin: 15px 4rem 0;
  display: flex;
}
.tab-nav a{
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 10px;
  font-weight: 600;
  text-decoration: none;
}
.tab-nav a::after{
  content: '';
  background: rgb(255, 0, 0);
  width: 0%;
  height: 2px;
  transition: 0.7s;
}
.tab-nav a:hover::after,
.backwards::after,
.tab-nav a:nth-child(1)::after
{
  content: '';
  width: 100%;
  height: 2px;
  background: #ff6000;
  transition: 0.7s;
  display: block;
}
.top-profile span{
  color: #fff;
  font-size: 25px;
  font-family: arial ;
  text-transform: capitalize;
}
.top-profile span b{
  font-family: arial;
  font-size: 40px;
}
.top-profile span b button{
  background: #ff6000;
  width: 8px;
  height: 8px;
  border: none;
}
.about-me {
  padding: 0 40 70px;
  display: flex;
  justify-content: space-between;
}
.about-me-pic img {
  height: 38rem;
}
.about-me-description {
  height: 38rem;
  width: 37rem;
}
.about-me-description nav:first-child {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
}
.about-me-description nav:nth-child(2) {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bolder;
  line-height: 0.7;
  color: rgb(211, 211, 211);
  margin: 0 0 12px;
}
.about-me-text {
  text-align: left;
  padding: 0px 0 10px;
}
#progress img {
  width: 100%;
  margin: 0 0 20px;
}
.button{
display: flex;
flex-direction: row;
}
.button button{
  font-size: 12px;
  margin-right: 15px;
  padding: 10px 15px;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: 500;
  background: black;
  border: none;
  color: #fff;
  margin-top: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: 0.4s all ease-in;
}
.button button img{
  height: 23px;
  margin-right: 6px;
}
.button button:hover{
  transform: translateY(-5px);
  transition: 0.4s all ease-out;
}
.service {
  background-color: rgb(230, 230, 230);
  padding: 0 0 1px;
}
.service span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  padding: 3rem 0;
}
.all-service {
  columns: 3;
  margin: 0 40px 50px;
}
.service-container {
  height: 15rem;
  width: 24rem;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 0px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-container img {
  margin: 0 10px 10px;
  background: #d7d6d6;
  padding: 12px;
  border-radius: 50%;
  height: 2.8rem;
}
.service-text {
  margin: 0 12px 12px;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  font-size: 20px;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service-text nav {
  font-size: 12px;
  text-transform: none;
  font-weight: normal;
  margin-top: 10px;
}
.heading {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 50px 0 20px;
}
.work-display {
  columns: 4;
  margin: 0 40px 0;
  column-gap: 17px;
}
.image {
  margin-bottom: 17px;
  transition: 0.7s all ease-in 0s;
}
.image:hover {
  filter: drop-shadow(2px 4px 6px black);
  scale: 1.05;
  transition: 0.7s all ease-out 0s;
}
.image img {
  width: 100%;
}
.button-load-more-work {
  margin: 100px;
  display: flex;
  justify-content: center;
}
.button-load-more-work button {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 14px 20;
  background: none;
  font-weight: bolder;
  cursor: pointer;
  border: 2px solid #000000;
}
.button-load-more-work button:hover {
  /* animation */
  transform: translateY(-5px);
  border: 2px solid #000000;
  background: #000000;
  transition: 0.5s all ease-in-out 0s;
  scale: 1.05;
  color: #ffffff;
}
.conclusion {
  height: 2.5rem;
  width: 100%;
  background: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conclusion h1{
  color: #ffffff;
  margin: 0 2rem;
  font-size: 11px;
  text-transform: capitalize;
  font-weight: 600;
}
/* ---------------small phone size start here ------------ */
@media (min-width: 0px) and (max-width: 320px) {
  .top-profile {
    height: 30vh;
  }
  .top-profile nav{
    margin: 15px 10px 0;
    font-size: 8px;
  }
  .tab-nav{
    margin: 15px 5px 0;
  }
  .tab-nav a{
    font-size: 6px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 1px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 1px;
  }
  .top-profile span{
    font-size: 16px;
  }
  .top-profile span b{
    font-size: 22px;
  }
  .top-profile span b button{
    width: 4px;
    height: 4px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 12rem;
  }
  .about-me-description {
    height: 12rem;
    width: 9rem;
  }
  .about-me-description nav:first-child {
    font-size: 14px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 26px;
    margin: 0 0 7px;
  }
  .about-me-text {
    font-size: 5px;
    padding: 0 0 2px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 3.5px;
    margin-right: 5px;
    padding: 5px;
    margin-top: 6px;
  }
  .button button img{
    height: 5px;
    margin-right: 2px;
  }
  .service {
    padding: 6px;
  }
  .service span {
    font-size: 20px;
    padding: 1rem;
  }
  .all-service {
    columns: 2;
    margin: 0;
    gap: 3px;
  }
  .service-container {
    height: 6rem;
    width: 9rem;
    margin-bottom: 4px;
  }
  .service-container img {
    margin: 5px;
    padding: 5px;
    height: 1.2rem;
  }
  .service-text {
    font-size: 8px;
    margin: 0 6px 6px;
  }
  .service-text nav {
    font-size: 5px;
    margin-top: 3px;
  }
  .heading {
    font-size: 20px;
    margin: 9px;
  }
  .work-display {
    columns: 2;
    margin: 0;
    column-gap: 6px;
  }
  .image {
    margin-bottom: 6px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 20px;
  }
  .button-load-more-work button {
    padding: 4px 5px;
    font-size: 5px;
    border: 1px solid;
  }
  .conclusion {
    height: 1rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 5px;
  }
}
/* ----------phone size start here ----------------- */
@media (min-width: 321px) and (max-width: 480px) {
  .top-profile {
    height: 35vh;
  }
  .top-profile nav{
    margin: 15px 10px 0;
    font-size: 10px;
  }
  .tab-nav{
    margin: 15px 5px 0;
  }
  .tab-nav a{
    font-size: 8px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 2px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 2px;
  }
  .top-profile span{
    font-size: 18px;
  }
  .top-profile span b{
    font-size: 24px;
  }
  .top-profile span b button{
    width: 5px;
    height: 5px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 16rem;
  }
  .about-me-description {
    height: 16rem;
    width: 15rem;
  }
  .about-me-description nav:first-child {
    font-size: 20px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 40px;
    margin: 0 0 7px;
  }
  .about-me-text {
    font-size: 7px;
    padding: 0 0 2px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 5px;
    margin-right: 5px;
    padding: 5px 6px;
    margin-top: 6px;
    border-radius: 4px;
  }
  .button button img{
    height: 7px;
    margin-right: 3px;
  }
  .service {
    padding: 0 10px;
  }
  .service span {
    font-size: 20px;
    padding: 1rem;
  }
  .all-service {
    columns: 2;
    margin: 0;
    gap: 1rem;
  }
  .service-container {
    height: 9rem;
    width: 13.5rem;
    margin-bottom: 14px;
  }
  .service-container img {
    margin: 6px;
    padding: 6px;
    height: 2.5rem;
  }
  .service-text {
    font-size: 12px;
    margin: 0 6px 6px;
  }
  .service-text nav {
    font-size: 8px;
    margin-top: 3px;
  }
  .heading {
    font-size: 25px;
    margin: 12px;
  }
  .work-display {
    columns: 2;
    margin: 0;
    column-gap: 6px;
  }
  .image {
    margin-bottom: 6px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 20px;
  }
  .button-load-more-work button {
    padding: 6px 10px;
    font-size: 8px;
    border: 1px solid;
    border-radius: 8px;
  }
  .conclusion {
    height: 1.5rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 7px;
  }
}
/* ---------------small tablet size start here ------------ */
@media (min-width: 481px) and (max-width: 600px) {
  .top-profile {
    height: 40vh;
  }
  .top-profile nav{
    margin: 15px 10px 0;
    font-size: 12px;
  }
  .tab-nav{
    margin: 15px 5px 0;
  }
  .tab-nav a{
    font-size: 10px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 2px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 2px;
  }
  .top-profile span{
    font-size: 20px;
  }
  .top-profile span b{
    font-size: 26px;
  }
  .top-profile span b button{
    width: 6px;
    height: 6px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 20rem;
  }
  .about-me-description {
    height: 16rem;
    width: 19rem;
  }
  .about-me-description nav:first-child {
    font-size: 25px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 45px;
    margin: 0 0 7px;
  }
  .about-me-text {
    font-size: 9px;
    padding: 0 0 2px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 7px;
    margin-right: 5px;
    padding: 7px 8px;
    margin-top: 6px;
    border-radius: 6px;
  }
  .button button img{
    height: 8px;
    margin-right: 3px;
  }
  .service {
    padding: 0 10px;
  }
  .service span {
    font-size: 35px;
    padding: 1.5rem;
  }
  .all-service {
    columns: 2;
    margin: 0;
    gap: 1rem;
  }
  .service-container {
    height: 12rem;
    width: 17rem;
    margin-bottom: 20px;
  }
  .service-container img {
    margin: 7px;
    padding: 7px;
    height: 3rem;
  }
  .service-text {
    font-size: 15px;
    margin: 0 6px 6px;
  }
  .service-text nav {
    font-size: 10px;
    margin-top: 3px;
  }
  .heading {
    font-size: 25px;
    margin: 12px;
  }
  .work-display {
    columns: 2;
    margin: 0;
    column-gap: 6px;
  }
  .image {
    margin-bottom: 6px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 20px;
  }
  .button-load-more-work button {
    padding: 6px 10px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 8px;
  }
  .conclusion {
    height: 1.5rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 8px;
  }
}
/* ---------------- Tablet size start here ---------------- */
@media (min-width: 601px) and (max-width: 800px) {
  .top-profile {
    height: 50vh;
  }
  .top-profile nav{
    margin: 15px 10px 0;
    font-size: 12px;
  }
  .tab-nav{
    margin: 15px 5px 0;
  }
  .tab-nav a{
    font-size: 10px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 2px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 2px;
  }
  .top-profile span{
    font-size: 24px;
  }
  .top-profile span b{
    font-size: 30px;
  }
  .top-profile span b button{
    width: 6px;
    height: 6px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 27rem;
  }
  .about-me-description {
    height: 27rem;
    width: 24rem;
  }
  .about-me-description nav:first-child {
    font-size: 31px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 56px;
    margin: 0 0 7px;
  }
  .about-me-text {
    font-size: 12.7px;
    padding: 0 0 2px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 10px;
    margin-right: 5px;
    padding: 10px 10px;
    margin-top: 6px;
    border-radius: 6px;
  }
  .button button img{
    height: 12px;
    margin-right: 5px;
  }
  .service {
    padding: 0 10px;
  }
  .service span {
    font-size: 30px;
    padding: 2rem;
  }
  .all-service {
    columns: 3;
    margin: 0;
    gap: 1rem;
  }
  .service-container {
    height: 11rem;
    width: 15rem;
    margin-bottom: 23px;
  }
  .service-container img {
    margin: 7px;
    padding: 8px;
    height: 3rem;
  }
  .service-text {
    font-size: 13px;
    margin: 0 6px 6px;
  }
  .service-text nav {
    font-size: 8px;
    margin-top: 3px;
  }
  .heading {
    font-size: 25px;
    margin: 20px;
  }
  .work-display {
    columns: 3;
    margin: 0;
    column-gap: 6px;
  }
  .image {
    margin-bottom: 6px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 20px;
  }
  .button-load-more-work button {
    padding: 6px 10px;
    font-size: 10px;
    border: 1px solid;
    border-radius: 8px;
  }
  .conclusion {
    height: 1.5rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 8px;
  }
}
/* ------------------ bigger tablet start here ----------------- */
@media (min-width: 801px) and (max-width: 1024px) {
  .top-profile {
    height: 55vh;
  }
  .top-profile nav{
    margin: 15px 4rem 0;
    font-size: 14px;
  }
  .tab-nav{
    margin: 15px 4rem 0;
  }
  .tab-nav a{
    font-size: 11px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 2px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 2px;
  }
  .top-profile span{
    font-size: 25px;
  }
  .top-profile span b{
    font-size: 32px;
  }
  .top-profile span b button{
    width: 6px;
    height: 6px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 33rem;
  }
  .about-me-description {
    height: 33rem;
    width: 32rem;
  }
  .about-me-description nav:first-child {
    font-size: 40px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 80px;
    margin: 0 0 10px;
  }
  .about-me-text {
    font-size: 14px;
    padding: 0 0 5px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 12px;
    margin-right: 1rem;
    padding: 12px 12px;
    margin-top: 1rem;
    border-radius: 8px;
  }
  .button button img{
    height: 18px;
    margin-right: 5px;
  }
  .service {
    padding: 0 10px;
  }
  .service span {
    font-size: 35px;
    padding: 2.5rem;
  }
  .all-service {
    columns: 3;
    margin: 0;
    gap: 1rem;
  }
  .service-container {
    height: 14rem;
    width: 20rem;
    margin-bottom: 16px;
  }
  .service-container img {
    margin: 8px;
    padding: 9px;
    height: 3.5rem;
  }
  .service-text {
    font-size: 16px;
    margin: 0 15px 8px;
  }
  .service-text nav {
    font-size: 10x;
    margin-top: 3px;
  }
  .heading {
    font-size: 30px;
    margin: 20px;
  }
  .work-display {
    columns: 3;
    margin: 0;
    column-gap: 6px;
  }
  .image {
    margin-bottom: 6px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 4rem;
  }
  .button-load-more-work button {
    padding: 8px 10px;
    font-size: 12px;
    border: 1px solid;
    border-radius: 10px;
  }
  .conclusion {
    height: 2rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 10px;
  }
}
/* ---------------------- widescreen desktop start here ----------------- */
@media (min-width: 1281px) and (max-width: 1440px) {
  .top-profile {
    height: 70vh;
  }
  .top-profile nav{
    margin: 15px 4rem 0;
    font-size: 17px;
  }
  .tab-nav{
    margin: 15px 4rem 0;
  }
  .tab-nav a{
    font-size: 14px;
    padding: 0 5px;
  }
  .tab-nav a::after{
    height: 3px;
  }
  .tab-nav a:hover::after,
  .backwards::after,
  .tab-nav a:nth-child(1)::after
  {
    height: 3px;
  }
  .top-profile span{
    font-size: 30px;
  }
  .top-profile span b{
    font-size: 40px;
  }
  .top-profile span b button{
    width: 7px;
    height: 7px;
  }
  .about-me {
    padding: 0;
    gap: 1rem;
  }
  .about-me-pic img {
    height: 47rem;
  }
  .about-me-description {
    height: 47rem;
    width: 38rem;
  }
  .about-me-description nav:first-child {
    font-size: 60px;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 120px;
    margin: 0 0 10px;
  }
  .about-me-text {
    font-size: 20px;
    padding: 0 0 5px;
  }
  #progress img {
    margin: 0;
}
  .button button{
    font-size: 14px;
    margin-right: 1rem;
    padding: 14px 14px;
    margin-top: 1.5rem;
    border-radius: 12px;
  }
  .button button img{
    height: 20px;
    margin-right: 8px;
  }
  .service {
    padding: 0 10px;
  }
  .service span {
    font-size: 45px;
    padding: 3rem;
  }
  .all-service {
    columns: 3;
    margin: 0;
    gap: 1rem;
  }
  .service-container {
    height: 17rem;
    width: 28rem;
    margin-bottom: 28px;
  }
  .service-container img {
    margin: 10px;
    padding: 10px;
    height: 4rem;
  }
  .service-text {
    font-size: 16px;
    margin: 0 15px 8px;
  }
  .service-text nav {
    font-size: 15px;
    margin-top: 5px;
  }
  .heading {
    font-size: 40px;
    margin: 4rem;
  }
  .work-display {
    columns: 4;
    margin: 0;
    column-gap: 1rem;
  }
  .image {
    margin-bottom: 1rem;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 4rem;
  }
  .button-load-more-work button {
    padding: 12px 14px;
    font-size: 14px;
    border: 2px solid;
    border-radius: 15px;
  }
  .conclusion {
    height: 2rem;
  }
  .conclusion h1{
    margin: 0;
    font-size: 10px;
  }
}
