@font-face {
  font-family: myfonts;
  src: url(D:\All-Codes\Portfolio\Fonts\Poppins-Medium.ttf);
}
* {
  font-family: Poppins;
  scroll-behavior: smooth;
}
.top-profile {
  padding: 20px 40px 0;
}
.navigation-bar {
  display: flex;
  margin: 0 10px 0;
}
.profile-nav {
  display: flex;
  align-items: center;
}
.profile-nav img {
  border-radius: 50%;
  height: 4rem;
  padding: 10px;
}
.profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.profile-text nav {
  text-transform: capitalize;
  font-size: 11px;
}
.profile-text nav:first-child {
  text-transform: uppercase;
  font-size: 17px;
  font-weight: bolder;
}
.tab-nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: auto;
  padding-right: 10px;
}
.tab-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: black;
  padding: 5px 19px;
  border-radius: 20px;
  border: 2px solid #000000;
  font-weight: bolder;
}
.tab-nav a:hover,
.tab-nav a.active {
  /* animation */
  color: #ffffff;
  background: #002920;
  border: 2px solid #002920;
  transition: 0.8s all ease 0s;
}
.profile {
  display: flex;
  justify-content: space-between;
  padding: 40px 0 0.5px;
}
.salutation {
  /* background-color: rgb(175, 175, 175); */
  width: 400px;
  height: 300px;
  padding: 53px 0 47px;
}
.salutation nav {
  font-size: 20px;
  text-transform: capitalize;
}
.salutation nav:nth-child(2) {
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bolder;
}
.salutation nav:nth-child(3) {
  font-size: 12px;
  text-align: justify;
}
.social-media-handles {
  margin: 10px 0 0;
}
.social-media-handles a img {
  height: 35px;
}
.social-media-handles a:last-child {
  scale: 1.2;
  margin-left: 2.5px;
}
.social-media-handles a img:hover {
  /* animation */
  transform: translateX(5px);
  margin-right: 9px;
  scale: 1.2;
  transition: 0.5s all ease 0s;
}
.quick-action-firstpage {
  padding-top: 9px;
  display: flex;
  grid-column-gap: 18px;
  margin: 10px 0 0;
}
.quick-action-firstpage button:first-child {
  padding: 8px 38px;
  border-radius: 20px;
  cursor: pointer;
  color: #ffffff;
  font-weight: bold;
  background: black;
  text-transform: uppercase;
}
.quick-action-firstpage button:first-child:hover {
  /* animation */
  transform: translateY(-5px);
  transition: 0.4s all ease-in-out 0s;
  border: 2px solid #002920;
  background: #002920;
  font-weight: bold;
}
.quick-action-firstpage button:last-child {
  padding: 8px 19px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  background: transparent;
  text-transform: uppercase;
}
.quick-action-firstpage button:last-child:hover {
  /* animation */
  transform: translateY(-5px);
  transition: 0.4s all ease-in-out 0s;
  border: 2px solid #002920;
  font-weight: bold;
}
.firstCoverpic {
  /* background-color: rgb(175, 175, 175); */
  width: 500px;
  height: 300px;
}
.firstCoverpic img {
  height: 32rem;
  position: absolute;
  top: 90px;
  opacity: 19%;
}
.firstCoverpic img:last-child {
  height: 25rem;
  top: 140px;
  left: 597px;
  opacity: 100%;
}
.bar {
  background: rgb(213 213 213);
  width: 100%;
  height: 3px;
  z-index: 100;
  position: relative;
  bottom: 14px;
}
.tab {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 50px 0 20px;
}
.work-display {
  columns: 4;
  margin: 0 40px 0;
  column-gap: 17px;
}
.image {
  margin-bottom: 17px;
}
.image:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  scale: 1.05;
  transition: 0.7s all ease-in-out 0s;
}
.image img {
  width: 100%;
}
.button-load-more-work {
  margin: 100px;
  display: flex;
  justify-content: center;
}
.button-load-more-work button {
  text-transform: uppercase;
  border-radius: 20px;
  padding: 14px 20;
  background: none;
  font-weight: bolder;
  cursor: pointer;
  border: 2px solid #002920;
}
.button-load-more-work button:hover {
  /* animation */
  transform: translateY(-5px);
  border: 2px solid #002920;
  background: #002920;
  transition: 0.5s all ease-in-out 0s;
  scale: 1.05;
  color: #ffffff;
}
.about-me {
  padding: 0 40 70px;
  display: flex;
  justify-content: space-between;
}
.about-me-pic {
  background-color: rgb(252 176 64);
  height: 32.5rem;
  width: 32rem;
  position: relative;
  top: 4rem;
}
.about-me-pic img {
  height: 40rem;
  position: relative;
  top: -2rem;
  right: 4rem;
}
.about-me-description {
  height: 40rem;
  width: 35rem;
}
.about-me-description nav:first-child {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  top: 28px;
}
.about-me-description nav:nth-child(2) {
  font-size: 100px;
  text-transform: uppercase;
  font-weight: bolder;
  color: rgb(211, 211, 211);
}
.about-me-text {
  text-align: left;
  padding: 0px 0 20px;
}
#progress img {
  width: 100%;
  margin: 0 0 20px;
}
.button-quick-action {
  display: flex;
  gap: 3rem;
}
.bottom-bar {
  height: 8rem;
  background-color: black;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.bottom-bar img {
  position: relative;
  top: 50;
  height: 6rem;
  border-radius: 50%;
  border: 4px solid white;
  scale: 0.9;
}
.profile-detial {
  padding: 50px 0 0;
}
.profile-detial nav {
  text-align: center;
  text-transform: capitalize;
  font-size: 12px;
}
.profile-detial nav:nth-child(1) {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 16px;
}
.profile-detial nav img {
  scale: 0.5;
}
.service {
  background-color: rgb(230, 230, 230);
  padding: 0 0 1px;
}
.service span {
  text-align: center;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bolder;
  padding: 3rem 0;
}
.service-container {
  height: 16rem;
  width: 20rem;
  background: rgb(255, 255, 255);
  /* box-shadow: 0 0 5px; */
  border-radius: 10px;
  margin: 0px 0 28px;
  text-align: center;
  padding: 20px 24px 8px;
}
.service-container img {
  margin: 20px;
  background: #d7d6d6;
  padding: 10px;
  border-radius: 50%;
}
.all-service {
  columns: 3;
  margin: 0 40px 50px;
}
.service-text {
  text-transform: uppercase;
  font-weight: bolder;
  padding: 0px 0 17px;
  font-size: 20px;
  color: #000000;
  display: block;
}
.service-text nav {
  font-size: 13;
  text-transform: none;
  font-weight: normal;
  margin-top: 10px;
}
.conclusion {
}
.ending-bar {
  height: 2.5rem;
  background: #000000;
}
.ending-bar ul img {
  height: 20px;
}
.ending-bar ul {
  display: flex;
  justify-content: space-between;
}
.ending-bar ul li:first-child {
  display: flex;
  gap: 1rem;
  padding: 10px 57px;
}
.ending-bar ul li:nth-child(2) {
  display: flex;
  gap: 2rem;
  padding: 11px 0;
}
.ending-bar ul li a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bolder;
  text-decoration: none;
}
.ending-bar ul li:nth-child(2) a::after {
  content: "";
  width: 0%;
  height: 2px;
}
.ending-bar ul li:nth-child(2) a:hover::after {
  content: "";
  background: rgb(255, 255, 255);
  width: 100%;
  height: 2px;
  display: block;
  transition: 0.5s all ease 0s;
}
.ending-bar ul li span {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
  padding: 12px 60px;
  font-weight: bolder;
}
/* ----------phone size start here ----------------- */
@media (min-width: 0px) and (max-width: 480px) {
  @font-face {
    font-family: myfonts;
    src: url(D:\All-Codes\Portfolio\Fonts\Poppins-Medium.ttf);
  }
  * {
    font-family: Poppins;
    scroll-behavior: smooth;
  }
  .top-profile {
    padding: 10px 10px 0;
  }
  .navigation-bar {
    display: flex;
    margin: 0 5px 0;
  }
  .profile-nav {
    display: flex;
    align-items: center;
  }
  .profile-nav img {
    border-radius: 50%;
    height: 2rem;
    padding: 5px;
  }
  .profile-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .profile-text nav {
    text-transform: capitalize;
    font-size: 5px;
  }
  .profile-text nav:first-child {
    text-transform: uppercase;
    font-size: 8px;
    font-weight: bolder;
  }
  .tab-nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-left: auto;
    padding-right: 10px;
  }
  .tab-nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 5px;
    color: black;
    padding: 3px 10px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-weight: bolder;
  }
  .tab-nav a:hover,
  .tab-nav a.active {
    /* animation */
    color: #ffffff;
    background: #002920;
    border: 1px solid #002920;
    transition: 0.8s all ease 0s;
  }
  .profile {
    display: flex;
    justify-content: space-between;
    margin: 0px 0 0.5px;
  }
  .salutation {
    /* background-color: rgb(175, 175, 175); */
    width: 159px;
    height: 155px;
    padding: 0px 0 0px;
  }
  .salutation nav {
    font-size: 8px;
    text-transform: capitalize;
  }
  .salutation nav:nth-child(2) {
    font-size: 4px;
    text-transform: uppercase;
    font-weight: bolder;
  }
  .salutation nav:nth-child(3) {
    font-size: 7px;
    text-align: justify;
  }
  .social-media-handles {
    margin: 6px 0 0;
  }
  .social-media-handles a img {
    height: 18px;
  }
  .social-media-handles a:last-child {
    scale: 1.2;
    margin-left: 2.5px;
  }
  .quick-action-firstpage {
    /* display: flex; */
    display: block;
    position: relative;
    bottom: 14px;
    margin: 0 0 0;
  }
  .quick-action-firstpage button:first-child {
    padding: 3px 13px;
    border-radius: 20px;
    cursor: pointer;
    color: #ffffff;
    font-weight: bold;
    background: black;
    font-size: 5px;
    text-transform: uppercase;
  }

  .quick-action-firstpage button:last-child {
    padding: 4px 7px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    text-transform: uppercase;
    font-size: 4px;
  }

  .firstCoverpic {
    /* background-color: rgb(175, 175, 175); */
    width: 200px;
    height: 156px;
  }
  .firstCoverpic img {
    height: 13rem;
    position: absolute;
    top: 60px;
    opacity: 19%;
  }
  .firstCoverpic img:last-child {
    height: 9rem;
    top: 100px;
    left: 188px;
    opacity: 100%;
  }
  .bar {
    background: rgb(213 213 213);
    width: 100%;
    height: 3px;
    z-index: 100;
    position: relative;
    bottom: 14px;
  }
  .about-me {
    padding: 0 0 0;
    margin: 0 10px;
  }
  .about-me-pic {
    height: 12rem;
    width: 11rem;
    top: 0;
  }
  .about-me-pic img {
    height: 14rem;
    right: 20px;
    top: 0;
  }
  .about-me-description {
    height: 13rem;
    top: 0rem;
    width: 12rem;
    position: relative;
  }
  .about-me-description nav:first-child {
    font-size: 10px;
    top: 0;
    position: relative;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 16px;
    position: relative;
    line-height: 1.3em;
    margin: 0 0 2.4px;
  }
  .about-me-text {
    padding: 0 0 0;
    font-size: 7px;
  }
  #progress img {
    margin: 0 0 0;
  }
  .button-quick-action {
    display: flex;
    gap: 3rem;
  }
  .bottom-bar {
    height: 8rem;
    background-color: black;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .bottom-bar img {
    position: relative;
    top: 50;
    height: 6rem;
    border-radius: 50%;
    border: 4px solid white;
    scale: 0.9;
  }
  .profile-detial {
    padding: 50px 0 0;
  }
  .profile-detial nav {
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
  }
  .profile-detial nav:nth-child(1) {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
  }
  .profile-detial nav img {
    scale: 0.5;
  }
  .service {
    background-color: rgb(230, 230, 230);
    padding: 0 0 1px;
  }
  .service span {
    text-align: center;
    display: block;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bolder;
    padding: 1rem 0;
  }
  .service-container {
    height: 3.5rem;
    width: 4.5rem;
    background: rgb(255, 255, 255);
    /* box-shadow: 0 0 5px; */
    border-radius: 10px;
    margin: 0px 0 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* padding: 9px 24px 8px; */
  }
  .service-container img {
    margin: 4px;
    background: #d7d6d6;
    padding: 4.1px;
    border-radius: 50%;
    height: 0.7rem;
  }
  .all-service {
    columns: 3;
    margin: 0 10px 30px;
  }
  .service-text {
    text-transform: uppercase;
    font-weight: bolder;
    /* padding: 0px 0 4px; */
    font-size: 6px;
    color: #000000;
    display: block;
  }
  .service-text nav {
    font-size: 3px;
    text-transform: none;
    font-weight: normal;
    margin-top: 2px;
  }

  .tab {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 20px 0 20px;
  }
  .work-display {
    columns: 3;
    margin: 0 10px 0;
    column-gap: 14px;
  }
  .image {
    margin-bottom: 12px;
  }
  .image img {
    width: 100%;
  }
  .button-load-more-work {
    margin: 50px;
    display: flex;
    justify-content: center;
  }
  .button-load-more-work button {
    text-transform: uppercase;
    border-radius: 12px;
    padding: 7px 10px;
    background: #002920;
    font-weight: bolder;
    font-size: 10px;
    cursor: pointer;
    color: #fff;
    border: 2px solid #002920;
  }

  .conclusion {
  }
  .ending-bar {
    height: 1.5rem;
    background: #000000;
  }
  .ending-bar ul img {
    height: 10px;
  }
  .ending-bar ul {
    display: flex;
    justify-content: space-between;
    padding: 0 7px 0;
    align-items: center;
  }
  .ending-bar ul li:first-child {
    display: flex;
    gap: 0.5rem;
    padding: 0 0 0;
  }
  .ending-bar ul li:nth-child(2) {
    display: flex;
    gap: 1rem;
    padding: 0 0 0;
  }
  .ending-bar ul li a {
    font-size: 6px;
  }
  .ending-bar ul li:nth-child(2) a::after {
    content: "";
    width: 0%;
    height: 2px;
  }
  .ending-bar ul li:nth-child(2) a:hover::after {
    content: "";
    background: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    display: block;
    transition: 0.5s all ease 0s;
  }
  .ending-bar ul li span {
    font-size: 5px;
    display: block;
    padding: 0 0 1px;
    bottom: 4px;
    position: relative;
  }
}
/* ------------ phone size end here ----------------- */

/* ---------------- Tablet size start here ---------------- */
@media (min-width: 481px) and (max-width: 768px) {
  .top-profile {
    padding: 20px 20px 0;
  }
  .navigation-bar {
    margin: 0 0 0;
  }
  .profile-nav {
  }
  .profile-nav img {
    border-radius: 50%;
    height: 3rem;
    padding: 0 4px;
  }
  .profile-text {
  }
  .profile-text nav:first-child {
    font-size: 12px;
  }
  .profile-text nav {
    text-transform: capitalize;
    font-size: 8px;
  }
  .tab-nav {
    padding-right: 0px;
  }
  .tab-nav a {
    font-size: 8px;
    color: black;
    padding: 3px 14px;
    border-radius: 20px;
    border: 1px solid #000000;
    font-weight: bolder;
  }
  .tab-nav a:hover,
  .tab-nav a.active {
    /* animation */
    color: #ffffff;
    background: #002920;
    border: 1px solid #002920;
    transition: 0.8s all ease 0s;
  }
  .profile {
    padding: 5px 0 0.5px;
  }
  .salutation {
    width: 344px;
    height: 219px;
    padding: 53px 0 0;
  }
  .salutation nav {
    font-size: 14px;
  }
  .salutation nav:nth-child(2) {
    font-size: 8px;
    font-weight: bold;
  }
  .salutation nav:nth-child(3) {
    font-size: 10px;
  }
  .social-media-handles {
    margin: 10px 0 0;
  }
  .social-media-handles a img {
    height: 30px;
  }
  .social-media-handles a:last-child {
    scale: 1.2;
    margin-left: 2.5px;
  }
  .social-media-handles a img:hover {
    /* animation */
    transform: translateX(5px);
    margin-right: 9px;
    scale: 1.2;
    transition: 0.5s all ease 0s;
  }
  .quick-action-firstpage {
    padding-top: 0px;
  }
  .quick-action-firstpage button:first-child {
    padding: 5px 18px;
    font-size: 8px;
  }
  .quick-action-firstpage button:first-child:hover {
    /* animation */
    transform: translateY(-5px);
    transition: 0.4s all ease-in-out 0s;
    border: 2px solid #002920;
    background: #002920;
    font-weight: bold;
  }
  .quick-action-firstpage button:last-child {
    padding: 2px 11px;
    font-size: 9px;
  }
  .quick-action-firstpage button:last-child:hover {
    /* animation */
    transform: translateY(-5px);
    transition: 0.4s all ease-in-out 0s;
    border: 2px solid #002920;
    font-weight: bold;
  }
  .firstCoverpic {
    width: 493px;
    height: 270px;
  }
  .firstCoverpic img {
    height: 19rem;
    top: 5rem;
    right: 3rem;
  }
  .firstCoverpic img:last-child {
    height: 15rem;
    top: 7rem;
    left: 22rem;
  }
  .bar {
    bottom: 0;
  }
  .about-me {
    padding: 0 20px;
  }
  .about-me-pic {
    height: 17rem;
    width: 17rem;
    margin: 10px 0 0;
    top: 0;
  }
  .about-me-pic img {
    height: 20rem;
    position: relative;
    top: 0rem;
    right: 9px;
  }
  .about-me-description {
    height: 19rem;
    width: 24rem;
  }
  .about-me-description nav:first-child {
    font-size: 12px;
    margin: 5px 0 0;
    top: 0;
  }
  .about-me-description nav:nth-child(2) {
    font-size: 26px;
    line-height: 1em;
  }
  .about-me-text {
    padding: 0px 0 10px;
    font-size: 9.3px;
  }
  #progress img {
    width: 100%;
    margin: 0 0 0;
  }
  .profile-detial {
    padding: 50px 0 0;
  }
  .profile-detial nav {
    text-align: center;
    text-transform: capitalize;
    font-size: 12px;
  }
  .profile-detial nav:nth-child(1) {
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 16px;
  }
  .profile-detial nav img {
    scale: 0.5;
  }
  .service {
    margin: 10px 0 0;
  }
  .service span {
    font-size: 30px;
    padding: 1rem 0;
    margin: 1rem 0;
  }
  .all-service {
    margin: 0px 20px;
  }
  .service-container {
    height: 9rem;
    width: 14rem;
    margin: 0px 0 19px;
    align-items: center;
    justify-content: center;
    padding: 0 0 0;
    display: flex;
    flex-direction: column;
  }
  .service-container img {
    margin: 5px;
    padding: 5px;
    height: 2rem;
  }
  .service-text {
    padding: 0 0 0;
    font-size: 10px;
  }
  .service-text nav {
    font-size: 6px;
    margin-top: 3px;
  }
  .tab {
    font-size: 25px;
    margin: 20px 0 20px;
  }
  .work-display {
    columns: 3;
    margin: 0 20px 0;
    column-gap: 12px;
  }
  .image {
    margin-bottom: 12px;
  }
  .image:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    scale: 1.05;
    transition: 0.7s all ease-in-out 0s;
  }
  .button-load-more-work {
    margin: 2rem 0 5rem;
  }
  .button-load-more-work button {
    padding: 14px 20;
    border: 2px solid #002920;
    font-size: 10px;
  }
  .button-load-more-work button:hover {
    /* animation */
    transform: translateY(-5px);
    border: 2px solid #002920;
    background: #002920;
    transition: 0.5s all ease-in-out 0s;
    scale: 1.05;
    color: #ffffff;
  }
  .conclusion {
  }
  .ending-bar {
    height: 2rem;
    margin: 0 0 0;
  }
  .ending-bar ul {
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 3rem;
    margin: 0;
  }
  .ending-bar ul img {
    height: 12px;
  }
  .ending-bar ul li:first-child {
    gap: 1rem;
    padding: 0;
  }
  .ending-bar ul li:nth-child(2) {
    gap: 2rem;
  }
  .ending-bar ul li a {
    font-size: 8px;
  }
  .ending-bar ul li:nth-child(2) a::after {
    content: "";
    width: 0%;
    height: 2px;
  }
  .ending-bar ul li:nth-child(2) a:hover::after {
    content: "";
    background: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    display: block;
    transition: 0.5s all ease 0s;
  }
  .ending-bar ul li span {
    font-size: 6px;
  }
}
/* ------------------- Tablet size end here ----------------- */

/* ---------------------- bigger tablet start here ----------------- */

@media (min-width: 918px) and (max-width: 1279px) {
  
}
/* -------------- bigger tablet end here ------------- */
